# Bonsale API 連接設定
BONSALE_HOST=
BONSALE_X_API_KEY=
BONSALE_X_API_SECRET=

# bonsale_3cx-outbound-campaign API
BONSLAE_3CX_OUTBOUND_CAMPAIGN_HOST=

# 想要檢控的 PROJECT_ID （如果有多個專案需要檢控，請用逗號分隔）
BONSALE_PROJECT_ID=

# 排程時間設定（24小時制，格式: HH:MM，多個時段以逗號分隔，最後一個時段為最終檢查模式）
SCHEDULE=09:30,21:50
TIMEZONE=Asia/Taipei

# Discord Bot 連接設定
DISCORD_BOT_TOKEN=
# DISCORD 伺服器 ID
DISCORD_CHANNEL_ID=
# DISCORD 頻道 ID
DISCORD_GUILD_ID=
